.movies {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: rgb(235, 236, 240);
  margin: 0;
  min-width: 320px;
}

@media (max-width: 760px) {
  .movies {
    display: block;
  }
}
